@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
:root {
    --primary-color: #00B05A;
    --primary-alt: #3498db;
    --background-color: #212121;
    --background-lighter: #424242;
}

@font-face {
    font-family: BlackberryJam;
    src: url(BlackberryJam.ttf);
}

body {
    font-family: 'Open Sans', sans-serif;
}

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-track {
    background: var(--background-color);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--background-darker);
    border-radius: 5px;
}

* {
    margin: 0;
    padding: 0;
}